/* Define universal properties*/
*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}
/*set up header and nagivation*/
.header {
    padding: 22px;
    background-color:#99CCCC;
    color: #1a2a3a;
}

.header h1{
    display: inline-block;
    font-size: 30px;
}

.header h1 .jenny{
    color: #3a4a5a;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 18px;
}

.header nav ul{
    list-style-type: none;
}

.header nav ul li{
    display: inline-block;
    margin-inline: 6px;
    font-weight: bold;
    border-bottom: #1a2a3a 2px solid;
}

.header nav ul li a{
    color: #1a2a3a;
    text-decoration: none;
}

/*set up welcome part*/
.welcome {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url(./image/topImage.jfif);
    background-size: cover;
}

.welcome h2{
    float: right;
    margin-right: 25px;
    margin-top: 150px;
    background-color:#99CCCC;
    color: #1a2a3a;
    padding: 0;
    border: solid 5px #99CCCC;
}

/*Set up content style*/
.content{
    float: right;
    margin-left: 200px;
}

.about-me{
    margin-bottom: 15px;
    background-color: antiquewhite;
    padding: 30px;
    border-left:#1a2a3a solid 2px;
}

.surf-report{
    background-image: url(./image/topImage.jfif);
    background-size: cover;
    padding: 30px;
    height: 300px;
    border: #99CCCC solid 2px;
    margin-bottom: 10px;
    border-left:#1a2a3a solid 2px;
}


.surf-report h3{
    margin-top: 180px;
    color: #1a2a3a;

}

.small-text{
    font-size: 10px;
    color: #1a2a3a;

}

.small-image{
    flex-wrap: wrap;
    flex: 1 0 200px;
    padding: 10px;
    background-image: url(./image/topImage.jfif);
    background-size: cover;
    border: #99CCCC solid 2px;
    margin-bottom: 10px;
}
/*
.content h4{
    color: #1a2a3a;
    position: relative;
    top:65%;
    background-color: #99CCCC;
    width: 25%;
}

.content h4 .small-text{
    color:#1a2a3a;
    background-color: #99CCCC;
}

.content .small-image{
    display: inline-flex;
    padding: 2%;
    width: 48%;
}

*/

/*set up sidebar position and style*/
.sidebar{
    position: absolute;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #99CCCC;
    font-weight: bolder;
    font-size: 35px;
}

.sidebar ul li{
    padding-left: 60px;
}

#about-me{
    position: relative;
    top: 30px;
    padding-top: 20px;
    padding-left: 80px;
}

#work{
    position: relative;
    padding-top:;
}
footer{
    display: inline-block;
}